*{
  font-family: Arial;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  width: 80%;
  margin: auto;
}
/* Header */
.header {
  background-color: black;
  border-bottom: 3px solid #32b9cd;
}
.header .container {
  justify-content: space-between;
}
.titulo {
  color: #32b9cd;
  font-weight: 500;
}
.navbar {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.navbar li,
.navbar a {
  color: #e3b062;
  text-decoration: none;
}
/* Banner */
.banner {
  background-image: url("../assets/images/bg-jelly-fish-para_outras_pags.png");
  background-size: cover;
}
.banner .container {
  height: 500px;
  justify-content: center;
  align-items: center;
}
.banner p{
    color: white;
    width: 250px;
    font-size: 2.2em;
}
.banner span{
    font-weight: bolder;
}
/* Social */
.social{
    background-color: #e5e5e5;
}
.boxes{
    display: flex;
    padding: 50px 0 50px 0;
    /* 
    top - direita - baixo - esquerda / sentido horário
    */
    gap: 8px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box img{
    width: 170px;
}
.box h4 {
  color: #ce477f;
  font-weight: bolder;
}

/* Começo do footer  */

.footer{
  width: 100%;
  height: 100px;
  background-color: #32b9cd;
  color: white;
}
.footer .container{
  justify-content: center;
}
